body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.dashboard {
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
    width: 90%;
    max-width: 800px;
}

.balance-card {
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
}

table.table-striped {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.debit {
    color: red;
}

.credit {
    color: green;
}

nav{
background-color: #e3f2fd;
}

.credit-card-style {
    background: linear-gradient(135deg, #A8DADC, #F4A261, #2A9D8F);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    color: #264653; /* Un color oscuro que contrasta bien con los tonos pastel */
}

.credit-card-style:before {
    content: "";
    display: block;
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
    transform: rotate(60deg);
    pointer-events: none;
}
.card .btn {
    background-color: #E74C3C;
    color: white;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    transition: background-color 0.3s ease;
}

.card .btn:hover {
    background-color: #C0392B;
}