body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#app {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white !important
}

footer {
    margin-top: 40 px;
}
.containernav {
    display: flex;
    justify-content: space-between;
}

.bank-logo {
    display: flex;
    justify-content: space-between;
}