body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#app {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 40 px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.dashboard {
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
    padding: 20px;
    width: 90%;
    max-width: 800px;
}

.balance-card {
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
}

table.table-striped {
    
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.debit {
    color: red;
}

.credit {
    color: green;
}



.credit-card-style {
    background: linear-gradient(135deg, #A8DADC, #a5968a, #184a45);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    color: #01080a; /* Un color oscuro que contrasta bien con los tonos pastel */
}

.credit-card-style:before {
    content: "";
    display: block;
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
    transform: rotate(60deg);
    pointer-events: none;
}
.card .btn {
    background-color: #1f41c9;
    color: white;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    margin-top: 8px;
    transition: background-color 0.3s ease;
}

.card .btn:hover {
    background-color: #2b7dc0;
}
.button-style {
    background-color: #3c8ce7; /* Color de fondo */
    color: #ffffff;            /* Color del texto */
    border: none;
    padding: 10px 20px;
    border-radius: 2rem;
    transition: 0.3s;          /* Efecto de transición al pasar el cursor */
}

.button-style:hover {
    background-color: #264653; /* Color de fondo al pasar el cursor */
}
.btn-success {
    box-shadow: none !important;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url('/web/images/pexels-pixabay-158776.jpg');
    background-size: 150% 150%; 
    background-position: center;
    position: relative;
    animation: moveBackground 20s infinite alternate; 
}

@keyframes moveBackground {
    0% {
        background-position: top left;
    }
    50% {
        background-position: center center;
    }
    100% {
        background-position: bottom right;
    }
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.895);
    z-index: -1; 
}

.overlay {
    position: relative;
    height: 100vh;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.5); 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0; 
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    display: flex;
    margin-top: 20px;
    align-items: center; 
}

header h1, header p {
    color: #FFFFFF;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #FFF;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

body, html {
    height: 100%;
}

footer {
    height: 60px; 
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

footer a {
    color: #FFF;  
}

.container {
    width: 100%;
}

.loginRedirect{
    margin-top: 2rem;
}
.loginRedirect,
#form,
#social-media a,
#social-media a i {
    color: white !important;  
}

#social-media a i {
    transition: transform 0.3s ease;  
}

#social-media a:hover i {
    transform: scale(1.2);  
}

#social-media {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 50px;  
    color: white;
    gap: 1rem;  
}

.icon-wrap {
    display: inline-block;
    transition: transform 0.3s ease;
}

.icon-wrap:hover {
    transform: scale(1.8);
}

.icon-wrap-nav {
    display: inline-block;
    transition: transform 0.3s ease;
}

.icon-wrap-nav:hover {
    transform: scale(1.2);
}











