<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transaction | MindhubBanking </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/web/css/account.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/web/index.html">Home banking</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/web/Index.html">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Client
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/web/Pages/accounts.html">Accounts</a></li>
              <li><a class="dropdown-item" href="#">Transactions</a></li>
              <li><a class="dropdown-item" href="/web/pages/card.html">Cards</a></li>
              <li><a class="dropdown-item" href="/web/pages/transfers.html">Transfers</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto my-2 my-lg-0">
          <li class="nav-item">
            <a @click="logOut" class="nav-link" href="../index.html">
              <i class="bi bi-box-arrow-right"></i>
              Logout
            </a>
          </li>
        </ul>
      </div>
  </nav>
  <div id="app" class="d-flex justify-content-center align-items-center vh-100">
    <div class="container mx-auto">
      <main class="vh-100 d-flex align-items-center">
        <div class="container mx-auto">
          <div class="bg-light p-5 rounded shadow">
            <div v-if="account"
              class="card balance-card d-flex justify-content-center align-items-end credit-card-style text-white text-center p-4">
              <h1>
                <p>Account Number: #{{ account.number }}</p>
              </h1>
              <h2>Account Balance: ${{ account.balance }}</h2>
              <p>Creation Date: {{ account.creationDate }}</p>
            </div>
            <h2 class="mt-5 mb-4">Transactions resume</h2>
            <div class="w-100">
              <table v-if="transactions.length" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="transaction of transactions"
                    :class="{'bg-danger': transaction.type == 'DEBIT', 'bg-success': transaction.type == 'CREDIT'}">
                    <td>{{ transaction.type }}</td>
                    <td>${{ transaction.amount }}</td>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.description }}</td>
                  </tr>
                </tbody>



              </table>
            </div>
          </div>
        </div>
      </main>

    </div>
  </div>


  <footer class="fixed-bottom">
    <nav class="navbar" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a href="https://www.tiktok.com/es/"><i class="bi bi-tiktok"></i></a>
        <a href="https://web.facebook.com/?locale=es_LA&_rdc=1&_rdr"><i class="bi bi-facebook"></i></a>
        <a href="https://www.messenger.com/?locale=es_ES"><i class="bi bi-messenger"></i></a>
        <a href="https://web.telegram.org/a/"><i class="bi bi-telegram"></i></a>
        <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
        <a href="https://web.whatsapp.com/"><i class="bi bi-whatsapp"></i></a>
      </div>
    </nav>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="module" src="/web/js/account.js"></script>
</body>

</html>