<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindHub | Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/Index.css">
</head>
<body>
    <div class="overlay">
       <div>
            <nav class="navbar navbar-expand-lg d-flex justify-content-around align-items-center">
                <a href="../index.html" class="navbar-brand">Home</a>
                <a href="./accounts.html" class="navbar-brand" >Accounts</a>
                <a href="./account.html" class="navbar-brand" >Transaction</a>
                <a href="#" class="navbar-brand" >Get your loan</a>
                <a href="./transfers.html" class="navbar-brand" >Transfers</a>
                <a href="./create-card.html" class="navbar-brand" >New card</a>
                <a href="../index.html" class="navbar-brand">
                    <span><i class="bi bi-box-arrow-in-right"></i> LOG OUT</span>
                </a>
            </nav>
        </div>
        <div class="container d-flex justify-content-center vh-100 align-items-center flex-wrap">
            <section id="social-media" class="d-flex flex-column align-items-start ml-3 mb-3">
                <a href="https://www.tiktok.com/es/" class="mb-2"><span class="icon-wrap"><i
                            class="bi bi-tiktok"></i></span></a>
                <a href="https://web.facebook.com/?locale=es_LA&_rdc=1&_rdr" class="mb-2"><span class="icon-wrap"><i
                            class="bi bi-facebook"></i></span></a>
                <a href="https://www.messenger.com/?locale=es_ES" class="mb-2"><span class="icon-wrap"><i
                            class="bi bi-messenger"></i></span></a>
                <a href="https://web.telegram.org/a/" class="mb-2"><span class="icon-wrap"><i
                            class="bi bi-telegram"></i></span></a>
                <a href="https://www.instagram.com/" class="mb-2"><span class="icon-wrap"><i
                            class="bi bi-instagram"></i></span></a>
                <a href="https://web.whatsapp.com/" class="mb-2"><span class="icon-wrap"><i
                            class="bi bi-whatsapp"></i></span></a>
            </section>

    <div id="app" class="container d-flex justify-content-center align-items-center mt-5">
        <div class="text-center">
            <h1>Loan Application</h1>
            <form @submit.prevent="createLoan">
                <!-- Loan Type -->
                <div class="mb-3">
                    <label for="loanType" class="form-label">Loan Type</label>
                    <select class="form-control" id="loanType" v-model="loanType">
                        <option value="" disabled>Select Loan Type</option>
                        <option v-for="loan in loans" :value="loan.id">{{ loan.name }}</option>
                    </select>
                </div>

                <!-- Payment Options based on selected loan -->
                <div class="mb-3" v-if="selectedLoan">
                    <label for="paymentOptions" class="form-label">{{ selectedLoan.name }} Payment Options</label>
                    <select class="form-control" id="paymentOptions" v-model="paymentOptions">
                        <option value="" disabled>Select Payment</option>
                        <option v-for="payment in selectedLoan.payments" :value="payment">
                            {{ payment }} Payments
                        </option>
                    </select>
                </div>

                <!-- Amount and Account Number, displayed only when loanType and paymentOptions are selected -->
                <div v-if="loanType && paymentOptions">
                    <div class="mb-3">
                        <label for="amount" class="form-label">Amount</label>
                        <input type="number" class="form-control" id="amount" v-model="amount" placeholder="Amount"
                            required>
                    </div>

                    <div class="mb-3">
                        <label for="toAccount" class="form-label">To Account</label>
                        <select class="form-control" id="toAccount" v-model="toAccount" required>
                            <option value="" disabled>Select Account</option>
                            <option v-for="account in client.accounts" :value="account.number">
                                {{ account.number }}
                            </option>
                        </select>
                    </div>
                </div>

                <button class="custom-submit-button" type="button" @click="createLoan"> Request Loan </button>


            </form>
        </div>

        <!-- Installment Table -->
        <div class="d-flex flex-column justify-content-center align-items-center p-3"
            v-if="loanType && paymentOptions && amount">
            <h2>Installment Amount and Total Payment</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Installment</th>
                        <th>Amount to Pay</th>
                        <th>Remaining Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(payment, index) in calculatePayments()" :key="index">
                        <td>{{ index + 1 }}</td>
                        <td>{{ payment.installmentAmount.toFixed(2) }}</td>
                        <td>{{ payment.remainingAmount.toFixed(2) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="../js/loan-application.js"></script>
</body>

</html>