<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindHub | Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/Index.css">
</head>
<body>
    <div class="overlay">
       <div>
            <nav class="navbar navbar-expand-lg d-flex justify-content-around align-items-center">
                <a href="../index.html" class="navbar-brand">Home</a>
                <a href="./accounts.html" class="navbar-brand" >Accounts</a>
                <a href="./account.html" class="navbar-brand" >Transaction</a>
                <a href="./loan-application.html" class="navbar-brand" >Get your loan</a>
                <a href="#" class="btn btn-secondary rounded-pill"" >Transfers</a>
                <a href="./create-card.html" class="navbar-brand" >New card</a>
                <a href="../index.html" class="navbar-brand">
                    <span><i class="bi bi-box-arrow-in-right"></i> LOG OUT</span>
                </a>
            </nav>
        </div>
        <div class="container d-flex justify-content-center vh-100 align-items-center flex-wrap">
            <section id="social-media" class="d-flex flex-column align-items-start ml-3 mb-3">
                <a href="https://www.tiktok.com/es/" class="mb-2"><span class="icon-wrap"><i
                            class="bi bi-tiktok"></i></span></a>
                <a href="https://web.facebook.com/?locale=es_LA&_rdc=1&_rdr" class="mb-2"><span class="icon-wrap"><i
                            class="bi bi-facebook"></i></span></a>
                <a href="https://www.messenger.com/?locale=es_ES" class="mb-2"><span class="icon-wrap"><i
                            class="bi bi-messenger"></i></span></a>
                <a href="https://web.telegram.org/a/" class="mb-2"><span class="icon-wrap"><i
                            class="bi bi-telegram"></i></span></a>
                <a href="https://www.instagram.com/" class="mb-2"><span class="icon-wrap"><i
                            class="bi bi-instagram"></i></span></a>
                <a href="https://web.whatsapp.com/" class="mb-2"><span class="icon-wrap"><i
                            class="bi bi-whatsapp"></i></span></a>
            </section>

    <div id="app">
        <main>
            <div class="container d-flex justify-content-center align-items-center mt-5">
                <div class="text-center">
                    <h1>Transfers</h1>
                    <form @submit.prevent="createTransfer">
                        <!-- Elegir tipo de transferencia -->
                        <div class="mb-3">
                            <label for="transferType" class="form-label">Tipo de Transferencia</label>
                            <select class="form-control" id="transferType" v-model="transferType">
                                <option value="own">Own</option>
                                <option value="thirdParty">To third parties</option>
                            </select>
                        </div>
                        <!-- Tipo de transacción -->
                        <div class="mb-3">
                            <label for="transactionType" class="form-label">Transaction Type</label>
                            <select class="form-control" id="transactionType" v-model="transactionType">
                                <option value="credit">Credit</option>
                                <option value="debit">Debit</option>
                            </select>
                        </div>
                        <!-- Cuenta de origen -->
                        <div class="mb-3" v-if="transferType === 'own'">
                            <label for="fromAccount" class="form-label">From Account</label>
                            <select class="form-control" id="fromAccount" v-model="fromAccount">
                                <option value="">From Account</option>
                                <option v-for="account in client.accounts" :value="account.number">
                                    {{ account.number }}
                                </option>
                            </select>
                        </div>
                        <!-- Cuenta de destino -->
                        <div class="mb-3">
                            <label for="toAccount" class="form-label">To Account</label>
                            <select v-if="transferType === 'own'" class="form-control" id="toAccount"
                                v-model="toAccount">
                                <option value="">To Account</option>
                                <option v-for="account in client.accounts" :value="account.number">
                                    {{ account.number }}
                                </option>
                            </select>
                            <input v-else type="text" class="form-control" id="toAccount" v-model="toAccount"
                                placeholder="To Account" required>
                        </div>
                        <!-- Monto -->
                        <div class="mb-3">
                            <label for="amount" class="form-label">Amount</label>
                            <input type="number" class="form-control" id="amount" v-model="amount" min="1" required>
                        </div>
                        <!-- Descripción -->
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" class="form-control" id="description" v-model="description" required>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Transfer</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Modal for confirming the transfer -->
            <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to make this transfer?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                @click="cancelTransfer">No</button>
                            <button type="button" class="btn btn-primary" @click="confirmTransfer">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal for successful transfer -->
            <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="successModalLabel">Success</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Your transfer has been successfully completed.
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal for canceled transfer -->
            <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="cancelModalLabel">Cancelled</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Your transfer has been cancelled.
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.min.js"></script>
    <script src="../js/transfers.js"></script>
</body>

</html>